<div class="container">
<h1 class="text-center my-5">
    About
</h1>
<p class="text-center my-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem cupiditate, ea debitis nesciunt obcaecati maxime animi tempora perferendis iusto sapiente totam corporis aspernatur provident quam ipsam consequuntur qui inventore ad.</p>
</div>
<!-- /.container -->