<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1 class="heading-top">
            <span>Contact</span> Me
        </h1>

        <div class="wrapper">
            <div class="company-info">
                <h3>Rahmatilla</h3>

                <ul class="ul">
                    <li class="li">
                        <h3>Xikmatillayev Rahmatilla</h3>
                    </li>
                    <li class="li">
                        <a href="+99891090553">+99891090553</a>
                    </li>
                    <li class="li">
                        <a href="mailto:xikmatillr@gmail.com">xikmatillr@gmail.com</a>
                    </li>
                    <li class="li">
                        <div class="contact">
                            <h3>Email Us</h3>

                            <form action="/send" method="post">
                                <div>
                                    <label for="">
                                        Name
                                        <input type="text" name="name" required>
                                    </label>
                                </div>
                                <div>
                                    <label for="">
                                        Company
                                        <input type="text" name="company" required>
                                    </label>
                                </div>
                                <div>
                                    <label for="">
                                        Email Address
                                        <input type="email" name="email" required>
                                    </label>
                                </div>
                                <div>
                                    <label for="">
                                        Message
                                        <textarea type="message" name="message" rows="5"></textarea>
                                    </label>
                                </div>
                                <div>
                                    <label for="">
                                        Phone Number
                                        <input type="text" name="phone" required>
                                    </label>
                                </div>
                                <button class="submit">Submit</button>
                            </form>
                        </div>
                        <!-- /.contact -->
                    </li>
                </ul>
            </div>
            <!-- /.company-info -->
        </div>
        <!-- /.wrapper -->
        <!-- /.heading-top -->
    </div>
    <!-- /.container -->
</body>
</html>